@model ApplicationForm.city
<option value="">--select City--</option>
@if (ViewBag.citylist != null)
{
    foreach (var item in ViewBag.citylist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}

